{%extends 'base.html'%}
{%block content%}
<h1 align="center">Add New Student</h1>
<form action="addstudent" method="post">
    {% csrf_token %}
<table align="center" border="1px">
    <tr>
        <td>First Name</td>
        <td><input type="text" name="fname" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" name="lname" /></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="emai" name="email" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="password" /></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="number" name="mob" /></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="address" /></td>
    </tr>
    <tr>
        <td>Course</td>
        <td><select name="course">
            <option>Java FullStack</option>
            <option>Python FullStack</option>
            <option>Mern</option>
            <option>Mean</option>
            <option>Java core&adv</option>
            <option>Spring&hibernate</option>
            <option>Python core&advance</option>
            <option>Django&Rest</option>
            <option>Blockchain</option>
            <option>Oracle</option>
            <option>WebDesigning</option>
            <option>React</option>
            <option>Angular</option>
            <option>Data analytics/Science</option>
            <option>C&C++</option>
            <option>Dsa</option>
        </select></td>
    </tr>
    <tr>
        <td>Enquiry Date</td>
        <td><input type="date" name="edt" /></td>
    </tr>
    <tr>
        <td>Remarks</td>
        <td><textarea rows="3" cols="21" name="remarks"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Add New Enquiry" /></td>
    </tr>
</table>
</form>
{%for message in messages%}
    {{message}}
{%endfor%}
{%endblock%}
